<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="kernel">
            <directory>modules/Core/Kernel/tests</directory>
        </testsuite>
        <testsuite name="smarttable">
            <directory>modules/Core/SmartTable/tests</directory>
        </testsuite>
        <testsuite name="user">
            <directory>modules/Core/User/tests</directory>
        </testsuite>
        <testsuite name="auth">
            <directory>modules/Core/Auth/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
